<h1>Add a Restaurant</h1>
<h4><%= link_to("List of Restaurants", {:action => 'index'}) %></h4>

<%= form_for @restaurant do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: 'Restaurant name' %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: 'Restaurant description' %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
